/* Author: Maria arroyo */

/* Define the character set */
@charset "utf-8";

body{
    
    width: 98%;
    min-width: 1000px;
    max-width: 1400px;
    
}



/*canvas style*/
#canvas{ 
    box-shadow:4px 6px 6px #444444;
    display:block; margin:0 auto;
    height:400px;
    width:1100px;
}





/* Horizontal Navigation Styles*/
nav.horizontalNAV ul{
    margin-left: 5%;
    margin-right: 8%;
    margin-bottom: 0;
    margin-top: 2px;
    list-style: none;
    text-decoration: none;
    height: 20px;
    
    
}


nav.horizontalNAV li{
    display: block;
    background-color: black;
    float: left;
    font-size: 105%;
    padding: 5px 0px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 25%;
    
}



nav.horizontalNAV a{
    color: white;
}



nav.horizontalNAV a:hover{
    color: rgb(24,162,237);
}



nav a {
    text-decoration: none;
   
}


/*Heading styles*/
  h2{
    color: rgb(40,69,148);
    font-size: 150%;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 50px;
    margin-left: 0%;
  }
 

/*paragraph styles*/
#intro{
   -o-background-size: 40%;
   -moz-background-size: 40%;
   -webkit-user-select:  40%;
   
   clear: left;
   text-align: left;
   float: left;
   margin-left: 10%;
   width: 90%;
   
   
   -moz-border-radius: 30px;
   -webkit-border-radius: 30px;
   border-radius: 30px;
}
 
 
#intro p{
   
    margin-top: 20px;
    font-size: large;
}


/*paragraph styles*/
#main{
    clear:left;
    float: left;
    margin-left: 21%;
    margin-top: 20px;
    font-size: large;
    
}

#itzaIntro{
    clear:left;
    float: left;
    margin-left: 21%;
    margin-top: 20px;
    font-size: large
}


/*image styles*/
figure{
    background-color: rgb(94,207,230);
    
    float:left;
    clear: right;
    margin-left: 80px;
    margin-right: 90px;
    margin-top:30px;
    width: 88%;
    
}



/*div styles*/
figure div{
   
    white-space: nowrap;
}

figure div img{
    margin: 10px;
    border-radius: 10px;
}



#map1{
    margin-left: 300px;
    margin-right: 200px;
}
 






 
/*header styles*/
header{
    
    position: absolute;
    top: 0px;
    left: 0px;
    padding-bottom: 500px;
    width: 20%;
}


header img{
    width:100%;
}

/*banner for the chichen-Itza page*/
#itzaBanner{ 
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    
 }


/*main section styles*/
#chichenItza{
    clear:left;
    float: left;
    margin-left: 21%;
    margin-top: 20px;
    font-size: large;
    width:49%;   
}
#chichenItza h1{
   color: rgb(40,69,148);
    font-size: 180%;
    font-weight: normal;
    letter-spacing: 5px;
    margin-left: 5%;
}




    

/*headinf style*/
#itzaIntro h1{
    color: rgb(40,69,148);
    font-size: 180%;
    font-weight: normal;
    letter-spacing: 5px;
    margin-left: 5%;
       
}



/*style for the videos*/
#itzaVideo{
    margin-left: 25%;
    margin-top: 20px;
}

#cenVideo{
    margin-left: 25%;
    margin-top: 20px;  
}




/*Footer Styles*/
footer{
    background-color: black;
    color: white;
    clear: left;
    width: auto;
    margin-top: 10%;
    text-align: center;
}
